<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav th:replace="fragments/header :: header"></nav>
</header>

<section class="login-page">
    <h2>Zmiana hasła</h2>
    <form action="#" th:action="@{/user/editpassword}" th:object="${user}" method="post">
<!--        <div th:if="${error}" class="form-group error">Niepoprawne dane</div>-->
        <div class="form-group">
            <input type="password" th:value="${password}" id="oldPassword" name="oldPassword" placeholder="Stare hasło"/>
        </div>
        <div class="form-group">
            <input type="password" th:value="${password}" id="newPassword" name="newPassword" placeholder="Nowe hasło"/>
        </div>
        <div class="form-group">
            <input type="password" name="newPasswordConfirm" placeholder="Powtórz hasło"/>
        </div>

        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Zapisz</button>
        </div>
    </form>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/app.js}"></script>
</body>
</html>